<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>



<body id="page-top">
    <!-- Navigation-->
    <%- include ('../partials/nav') %>

    <%- body %>
    <!-- Footer-->
    <%- include ('../partials/footer') %>

    <%- include ('../partials/jslinks') %>

</body>

</html>
<%- include ('../partials/chartAndData') %>